<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Новинний сайт{% endblock %}</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li><a href="{% url 'news_list' %}">Новини</a></li>
                <li><a href="{% url 'authors' %}">Автори</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>
